{% extends "base.html" %}

{% block content %}



<!--Main layout-->
<main class="mt-5 pt-5">
    <div class="container">

        <!--Section: Jumbotron-->
        <section class="card wow fadeIn" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">

            <!-- Content -->
            <div class="card-body text-white text-center py-5 px-5 my-5">

                <h1 class="mb-4">
                    <strong>Visit GODAVARI Districts</strong>
                </h1>
                <p>
                    <strong>Best & free guide for Cities, Towns and Villages in Godavari Districts</strong>
                </p>
                <p class="mb-4">
                    <strong>Godavari District was a district in Madras Presidency in British India created in 1859,which was formerly within the Rajahmundry (Rajamahendravaram) District created in 1823.In 1859, Rajahmundry district, along with Masulipatnam and Guntur districts, was reorganised into Godavari and Krishna districts.
                    In 1925, the Godavari district was divided into West Godavari and East Godavari districts with Eluru and Kakinada as their respective capitals. These districts have since remained under the same names till the present day.</strong>
                    <tagname style="font-size:10px">
                        *Source:<a href="https://en.wikipedia.org/wiki/Godavari_District#:~:text=Godavari%20District%20was%20a%20district,Rajamahendravaram)%20District%20created%20in%201823.&text=In%201925%2C%20the%20Godavari%20district,Kakinada%20as%20their%20respective%20capitals.">Wikipedia</a>               
                    </tagname>
                </p>
                
                <a target="_blank" href="https://www.youtube.com/watch?v=mMfcJAJMJ9E&ab_channel=APPRIMETV/" class="btn btn-outline-white btn-lg">Beauty Of East Godavari (Kakinada)
                    <i class="fab fa-youtube mr-3"></i>
                </a>

            </div>
            <!-- Content -->
        </section>
        <!--Section: Jumbotron-->
    <hr class="my-5">

    <!--Section: Cards-->
    <section class="text-center">

        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="static/img/CCT.png" class="card-img-top" alt="" >
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Kakinada</h4>
                        <!--Text-->
                        <p class="card-text">Kakinada is the Headquater of East Godavari District</p>
                        <p class="card-text">
                            <a href="https://en.wikipedia.org/wiki/Kakinada">Read More...</a>
                        </p>
                    </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                   <!--Card image-->
                   <div class="view overlay">
                    <img src="static/img/eluru.png" class="card-img-top" alt="" >
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Eluru</h4>
                    <!--Text-->
                    <p class="card-text">Eluru is the Headquater of West Godavari District</p>
                    <p class="card-text">
                        <a href="https://en.wikipedia.org/wiki/Eluru">Read More...</a>
                    </p>
                </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                   <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                     <img src="static/img/amalapuram.jpg" class="card-img-top" alt="" >
                 </div>
 
                 <!--Card content-->
                 <div class="card-body">
                     <!--Title-->
                     <h4 class="card-title">Amalapuram</h4>
                     <!--Text-->
                     <p class="card-text">Amalapuram is one of cities in East Godavari, popularly known as Konaseema Capital</p>
                     <p class="card-text">
                         <a href="https://en.wikipedia.org/wiki/Amalapuram">Read More...</a>
                     </p>
                 </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                  <!--Card-->
                  <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                     <img src="static/img/rjy.jpg" class="card-img-top" alt="" >
                 </div>
 
                 <!--Card content-->
                 <div class="card-body">
                     <!--Title-->
                     <h4 class="card-title">Rajamahendravaram</h4>
                     <!--Text-->
                     <p class="card-text">Rajamahendravaram is one of cities in East Godavari and largest in area</p>
                     <p class="card-text">
                         <a href="https://en.wikipedia.org/wiki/Amalapuram">Read More...</a>
                     </p>
                 </div>

                </div>
                <!--/.Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-react.jpg" class="card-img-top" alt="">
                        <a href="https://mdbootstrap.com/react/" target="_blank">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Bhimavaram</h4>
                        <!--Text-->
                        <p class="card-text">Based on the latest Bootstrap 4 and React 16. </p>
                        <a href="https://mdbootstrap.com/react/" target="_blank" class="btn btn-primary btn-md">Free download
                            <i class="fas fa-download ml-2"></i>
                        </a>
                    </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-vue.jpg" class="card-img-top" alt="">
                        <a href="https://mdbootstrap.com/vue/" target="_blank">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Tanuku</h4>
                        <!--Text-->
                        <p class="card-text">Based on the latest Bootstrap 4 and Vue 2.5.7. </p>
                        <a href="https://mdbootstrap.com/vue/" target="_blank" class="btn btn-primary btn-md">Free download
                            <i class="fas fa-download ml-2"></i>
                        </a>
                    </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

        </div>
       
    </section>
    <!--Section: Cards-->

</div>
</main>
<!--Main layout-->

{%endblock content%}